In [26]:
import pandas as pd
import numpy as np
import re

In [27]:
address_data = pd.read_csv("address.txt")

In [28]:
df = pd.DataFrame(address_data)

In [29]:
df.rename(columns = {'<?xml version="1.0" encoding="UTF-8"?>': 'values'},inplace = True)

In [30]:
for i in range(0,df['values'].count()):
    if type(df['values'][i]) != str:
        val = df['values'][i]
        df['values'][i] = df['values'][i].to_string()

In [31]:
for i in range(0,df['values'].count()):
    if 'real' in df['values'][i]:
        temp = re.search('>(.*)</',df['values'][i])
        df['values'][i] = temp.group(1)

In [32]:
temp_df = df

In [33]:
check = ['a','e','i','o','u'] 

for i in range(0,temp_df['values'].count()):
    for vowel in check:
        if vowel in list(temp_df['values'][i]):
            temp_df.drop(index = i,inplace = True)
            break

In [34]:
res = temp_df
res = res.reset_index()
res.drop('index',axis=1,inplace=True)

In [35]:
x_temp = pd.DataFrame(np.zeros((4368,1)))
y_temp = pd.DataFrame(np.zeros((4368,1)))
z_temp = pd.DataFrame(np.zeros((4368,1)))
c_temp = pd.DataFrame(np.zeros((4368,1)))

In [36]:
def extract_x_values(data, x_vals):
    for i in range(0,int(data.count()),4):
        if(i == 0):
            x_vals[0][i] = data['values'][i]
        else:
            x_vals[0][(i/4)] = data['values'][i]
    return x_vals

In [37]:
def extract_y_values(data, y_vals):
    for i in range(1,int(data.count()),4):
        if(i == 1):
            y_vals[0][i-1] = data['values'][i]
        else:
            y_vals[0][(i-1)/4] = data['values'][i]
    return y_vals

In [38]:
def extract_z_values(data,z_vals):
    for i in range(2,int(data.count()),4):
        if(i == 2):
            z_vals[0][i-2] = data['values'][i]
        else:
            z_vals[0][(i-2)/4] = data['values'][i]
    return z_vals

In [39]:
def extract_c_values(data,c_vals):
    for i in range(3,int(data.count()),4):
        if(i == 3):
            c_vals[0][i-3] = data['values'][i]
        else:
            c_vals[0][int((i-3)/4)] = data['values'][i]
    return c_vals

In [40]:
x_temp = extract_x_values(res,x_temp)
y_temp = extract_y_values(res,y_temp)
z_temp = extract_z_values(res,z_temp)
c_temp = extract_c_values(res,c_temp)

In [41]:
x_temp.rename(columns={0:'x'},inplace=True)
y_temp.rename(columns={0:'y'},inplace=True)
z_temp.rename(columns={0:'z'},inplace=True)
c_temp.rename(columns={0:'c'},inplace=True)

In [42]:
xyz_df = pd.concat([x_temp,y_temp,z_temp,c_temp],axis=1)

In [21]:
def restructure(data):
    organized_df = pd.DataFrame()
    for i in range(0,273):
        lower_bound = 0
        upper_bound = 15
        curr_lower = lower_bound + (i*16)
        curr_upper = upper_bound + (i*16)
        
        df_splice = data.loc[curr_lower:curr_upper,:]
        df_splice.reset_index(inplace=True,drop=True)
        df_splice = df_splice.transpose()
        organized_df = pd.concat([organized_df,df_splice])
    
    return organized_df

In [22]:
xyz_df = restructure(xyz_df)

In [75]:
xyz_df.to_csv('address_data_csv')

In [43]:
xyz_df

          x           y           z         c
0     192.5  136.666672   -4.207444  0.676898
1     122.5  163.333328  -18.959591  0.503332
2     142.5  243.333328 -232.427444  0.275440
3     122.5  323.333344  -74.766479  0.050602
4     162.5  190.000000    0.064400  0.064833
5     202.5  243.333328   22.756737  0.428605
6     182.5  296.666656  122.886002  0.190642
7     172.5  150.000000   45.729679  0.127002
8     202.5  123.333336  -49.129887  0.677661
9     202.5  110.000000 -180.789322  0.710742
10    242.5   83.333336  338.932281  0.803917
11    222.5  136.666672  213.033035  0.629423
12    202.5  190.000000  184.547241  0.582226
13    222.5  243.333328  133.512527  0.576504
14    182.5  110.000000  -28.966345  0.576504
15    182.5  216.666672  -46.923943  0.576504
16    192.5  136.666672   -4.207444  0.680221
17    122.5  163.333328  -18.959591  0.497277
18    142.5  243.333328 -232.427444  0.266044
19    122.5  323.333344  -74.766479  0.047766
20    162.5  190.000000    0.064400  0.063195
21    202.5  243.333328   22.756737  0.419078
22    182.5  296.666656  122.886002  0.186468
23    172.5  150.000000   45.729679  0.116318
24    202.5  123.333336  -49.129887  0.676913
25    202.5  110.000000 -180.789322  0.708869
26    242.5   83.333336  338.932281  0.806541
27    222.5  136.666672  213.033035  0.631249
28    202.5  190.000000  184.547241  0.588588
29    222.5  243.333328  133.512527  0.578039
...     ...         ...         ...       ...
4338    0.0    0.000000    0.000000  0.000000
4339    0.0    0.000000    0.000000  0.000000
4340    0.0    0.000000    0.000000  0.000000
4341    0.0    0.000000    0.000000  0.000000
4342    0.0    0.000000    0.000000  0.000000
4343    0.0    0.000000    0.000000  0.000000
4344    0.0    0.000000    0.000000  0.000000
4345    0.0    0.000000    0.000000  0.000000
4346    0.0    0.000000    0.000000  0.000000
4347    0.0    0.000000    0.000000  0.000000
4348    0.0    0.000000    0.000000  0.000000
4349    0.0    0.000000    0.000000  0.000000
4350    0.0    0.000000    0.000000  0.000000
4351    0.0    0.000000    0.000000  0.000000
4352    0.0    0.000000    0.000000  0.000000
4353    0.0    0.000000    0.000000  0.000000
4354    0.0    0.000000    0.000000  0.000000
4355    0.0    0.000000    0.000000  0.000000
4356    0.0    0.000000    0.000000  0.000000
4357    0.0    0.000000    0.000000  0.000000
4358    0.0    0.000000    0.000000  0.000000
4359    0.0    0.000000    0.000000  0.000000
4360    0.0    0.000000    0.000000  0.000000
4361    0.0    0.000000    0.000000  0.000000
4362    0.0    0.000000    0.000000  0.000000
4363    0.0    0.000000    0.000000  0.000000
4364    0.0    0.000000    0.000000  0.000000
4365    0.0    0.000000    0.000000  0.000000
4366    0.0    0.000000    0.000000  0.000000
4367    0.0    0.000000    0.000000  0.000000

[4368 rows x 4 columns]