In [129]:
import pandas as pd
import numpy as np
import re

In [130]:
data = pd.read_csv("finish.txt")

In [131]:
df = pd.DataFrame(data)

In [132]:
df.rename(columns = {'<?xml version="1.0" encoding="UTF-8"?>': 'values'},inplace = True)

In [133]:
for i in range(0,df['values'].count()):
    if type(df['values'][i]) != str:
        val = df['values'][i]
        df['values'][i] = df['values'][i].to_string()

In [134]:
for i in range(0,df['values'].count()):
    if 'real' in df['values'][i]:
        temp = re.search('>(.*)</',df['values'][i])
        df['values'][i] = temp.group(1)

In [135]:
temp_df = df

In [136]:
check = ['a','e','i','o','u'] 

for i in range(0,temp_df['values'].count()):
    for vowel in check:
        if vowel in list(temp_df['values'][i]):
            temp_df.drop(index = i,inplace = True)
            break

In [137]:
res = temp_df
res = res.reset_index()
res.drop('index',axis=1,inplace=True)

In [322]:
x_temp = pd.DataFrame(np.zeros((4368,1)))
y_temp = pd.DataFrame(np.zeros((4368,1)))
z_temp = pd.DataFrame(np.zeros((4368,1)))

In [323]:
for i in range(0,int(res.count()),3):
    if(i == 0):
        x_temp[0][i ] = res['values'][i]
    else:
        x_temp[0][0+(i/3)] = res['values'][i]

In [324]:
def extract_x_values(data, x_vals):
    for i in range(0,int(data.count()),3):
        if(i == 0):
            x_vals[0][i ] = data['values'][i]
        else:
            x_vals[0][(i/3)] = data['values'][i]
    return x_vals

In [325]:
def extract_y_values(data, y_vals):
    for i in range(1,int(data.count()),3):
        if(i == 1):
            y_vals[0][i-1] = data['values'][i]
        else:
            y_vals[0][int((i/3))] = data['values'][i]
    return y_vals

In [326]:
def extract_z_values(data,z_vals):
    for i in range(2,int(data.count()),3):
        if(i == 2):
            z_vals[0][i-2] = data['values'][i]
        else:
            z_vals[0][(i-2)/3] = data['values'][i]
    return z_vals

In [327]:
x_temp = extract_x_values(res,x_temp)
y_temp = extract_y_values(res,y_temp)
z_temp = extract_z_value(res,z_temp)

In [328]:
x_temp.rename(columns={0:'x'},inplace=True)
y_temp.rename(columns={0:'y'},inplace=True)
z_temp.rename(columns={0:'z'},inplace=True)

In [329]:
xyz_df = pd.concat([x_temp,y_temp,z_temp],axis=1)

In [330]:
xyz_df

          x           y           z
0     212.5  230.000000   -5.508561
1     202.5  350.000000   -9.367068
2     182.5  456.666656 -527.735596
3     142.5  616.666687 -296.307129
4     222.5  376.666656  -16.202925
5     162.5  536.666687 -316.098358
6     182.5  510.000000 -215.589798
7     227.5  296.666656   52.649975
8     242.5  230.000000  -43.707291
9     242.5  216.666672 -387.086456
10    262.5  163.333328  582.226379
11    262.5  243.333328  451.641876
12    302.5  190.000000  365.583405
13    262.5  163.333328   20.274588
14    222.5  216.666672  -13.062220
15    222.5  243.333328   26.468603
16    212.5  230.000000   -5.654523
17    202.5  350.000000  -21.303158
18    182.5  456.666656 -473.956543
19    142.5  616.666687 -268.999023
20    222.5  376.666656   -7.546392
21    162.5  536.666687 -358.599396
22    182.5  510.000000 -307.681885
23    227.5  296.666656   56.260609
24    242.5  230.000000  -77.465538
25    242.5  216.666672 -383.700958
26    262.5  163.333328  582.528381
27    262.5  243.333328  403.494781
28    232.5  283.333344  378.309570
29    292.5  110.000000  -26.281687
...     ...         ...         ...
4338  262.5  430.000000 -502.394501
4339  222.5  430.000000 -233.935242
4340  302.5  243.333328  129.165512
4341  282.5  456.666656 -171.448212
4342  282.5  510.000000  -57.461899
4343  277.5  156.666672  118.496078
4344  282.5   83.333336  -64.656967
4345  282.5   56.666668 -378.453308
4346  382.5   56.666668  795.981750
4347  302.5   83.333336  480.407043
4348  282.5  163.333328  343.574066
4349  282.5   83.333336   46.933399
4350  262.5   83.333336  -59.963959
4351  222.5  136.666672   43.555214
4352  272.5   83.333336   -2.838479
4353  242.5  216.666672 -146.548630
4354  262.5  430.000000 -502.394501
4355  222.5  430.000000 -233.935242
4356  302.5  243.333328  129.165512
4357  282.5  456.666656 -171.448212
4358  282.5  510.000000  -57.461899
4359  277.5  156.666672  118.496078
4360  282.5   83.333336  -64.656967
4361  282.5   56.666668 -378.453308
4362  382.5   56.666668  795.981750
4363  302.5   83.333336  480.407043
4364  282.5  163.333328  343.574066
4365  282.5   83.333336   46.933399
4366  262.5   83.333336  -59.963959
4367  222.5  136.666672   43.555214

[4368 rows x 3 columns]